body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

.form-style {
  border-radius: 0 !important;
  border: 1px solid #9fadfb !important;
}

.iscte-blue-text {
  color: #324eec !important;
}

.iscte-bluer-text {
  color: #0d28c2 !important;
}

.button-style {
  border-radius: 0 !important;
  background-color: #0d28c2 !important;
}